---
import Button from "../../components/Button.astro";
export function getStaticPaths() {
    return [
        {params: {num: 1}},
        {params: {num: 2}},
        {params: {num: 3}},
    ];
}

const { num } = Astro.params;
---

<Button class="text-red-500">
    <a href="/about/">
        &lt; Back
    </a>
</Button>

<h1>
    About - {num}
</h1>
