---
import Button from "../../components/Button.astro";
const buttonNums = new Array(10).fill(0).map((_val, index) => index + 1);
---

<h1 class="text-lg font-bold">
    About
</h1>

<ul>
    {
        buttonNums.map(num => (
                <li>
                    <a class="hover:text-red-500" href={`/astro-test/about/${num}`}>
                        <Button>
                            {num}
                        </Button>
                    </a>
                </li>
        ))
    }
</ul>


