---
import Button from "../../components/Button.astro";
const buttonNums = [1, 2, 3];
---

<h1 class="text-lg font-bold">
    About
</h1>

<ul>
    {
        buttonNums.map(num => (
                <li>
                    <a class="hover:text-red-500" href={`/about/${num}`}>
                        <Button>
                            {num}
                        </Button>
                    </a>
                </li>
        ))
    }
</ul>


